body {
  background-color: #fafafa;
}
.wrapper {
  display: flex;
  position: absolute;
  top: 5px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.sidebar {
  flex: 0 0 165px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #444;
  padding-right: 10px;
}
.title {
  text-align: center;
  margin-bottom: .2em;
}
.all-rooms {
  padding-top: 1em;
  overflow-y: auto;
  flex-grow: 1;
}
.room-list-wrapper {
  color: #777;
}
.room-list-wrapper > .room-list {
  padding-left: .6em;
  list-style: none;
  margin: 0px;
}
.room-list {
  padding-left: .1em;
  list-style: none;
  margin: 0px;
}
.room-list > li {
  margin-top: .2em;
}
.room-list a {
  color: #777;
  text-decoration: none;
}
.room-list a:hover {
  text-decoration: underline;
}
.current-room {
  padding-left: .5em;
  display: inline-block;
  color: black !important;
  text-decoration: none;
}
.footer {
}
.nav {
  margin-bottom: .1em;
  border-bottom: 1px solid #444;
  padding-bottom: .1em;
}
.nav-link > span {
  /* text-decoration gets dropped from floating elements */
  text-decoration: underline;
}
.rhs {
  display: flex;
  flex-direction: column;
}
.rhs-header {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}
.lhs-header, .rhs-header {
  padding-bottom: .1em;
  padding-top: .1em;
  border-bottom: 1px solid #444;
  height: 30px;
}
.lhs-header {
  display: grid;
  align-content: center;
}
.log {
  overflow-y: auto;
  padding-left: 1em;
  padding-right: 1em;
}

#log-table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: .12em;
}
a {
  color: green;
}
p {
  margin: 0px;
}
.ts {
  color: #777;
  text-decoration: none;
}
.ts:hover {
  text-decoration: underline;
}
.ts-cell {
  vertical-align:top;
  width: 5ex;
}
.nick-cell {
  text-align: right;
  vertical-align:top;
  width: 13ex;
  /*overflow: scroll;*/
}
.msg-cell {
  padding-left: .3em;
}
/* firefox does not like overflow-scroll on td, so we need wrappers */
.m-ov {
  width: 100%;
  overflow-x: hidden;
  /*overflow-x: scroll;*/
}
.m-ov:hover {
  display: inline;
  position: relative;
  background-color: #fafafa;
  overflow-x: visible;
}
.highlight {
  background-color: #fffbdd;
}


blockquote {
  margin: 0px;
  border-left: 4px solid #ddd;
  padding-left: .3em;
}
.nick-1 { color: #f25e0d }
.nick-2 { color: #e43611 }
.nick-3 { color: #f98a11 }
.nick-4 { color: #b4a700 }
.nick-5 { color: #89bd3b }
.nick-6 { color: #4ea847 }
.nick-7 { color: #287e52 }
.nick-8 { color: #117873 }
.nick-9 { color: #0083a7 }
.nick-10 { color: #2a6596 }
.nick-11 { color: #385189 }
.nick-12 { color: #434078 }
.nick-13 { color: #5e4279 }
.nick-14 { color: #7a447a }
.nick-15 { color: #e92980 }
.nick-16 { color: #ec273e }

.button {
  cursor: pointer;
}
.button:hover {
  background-color: #eee;
  text-decoration: none;
}
.icon-link {
  text-align: center;
  width: 32px;
  height: 28px;
  display: inline-block;
  margin: 1px;
  border-radius: 4px;
}
.icon {
  width: 18px;
  height: 18px;
  position: relative;
  top: calc(50% - 9px);
}


#search-output .ts-cell {
  width: 11ex;
  text-align: center;
  vertical-align: middle;
}
#search-output .nick-cell {
  vertical-align: middle;
}
#search-output .msg-cell {
  vertical-align: middle;
}
#load-more, #thinking {
  margin: 1em;
}
#search-output .ts-cell {
  padding-bottom: 1em;
  padding-top: 1em;
}
#search-output tr {
  border-bottom: 1px dashed #777;
}